imorting librarier

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

importing dataset

In [3]:
data=pd.read_csv('/content/Sales.csv')
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

initiating the variable

In [5]:
X=data.drop(['Purchased'],axis=1)
Y=data['Purchased'].values.reshape(-1,1)

splitting dataset inti training and testing dataset

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test =train_test_split(X,Y,test_size=0.2,random_state=15)

feature scaling

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train= sc.fit_transform(X_train)
X_test =sc.transform(X_test)

training the model using decision tree algorithm on training dataset

In [20]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train,Y_train)

DecisionTreeClassifier()

testing the model

In [22]:
Y_pred =classifier.predict(X_test)

performance checking

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm= confusion_matrix(Y_test,Y_pred)
print(cm)
accuracy_score(Y_test,Y_pred)

[[42  3]
 [ 8 27]]

0.8625

predicting a new result

In [24]:
output = classifier.predict([[95,12000]])
output

array([1])