#importing libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importing the dataset

In [3]:
data= pd.read_csv('/content/Sales.csv')
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

initiating the variables

In [5]:
X=data.drop(['Purchased'],axis=1)
Y=data['Purchased'].values.reshape(-1,1)

#splitting data into training, testing data

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test =train_test_split(X,Y,test_size=0.2,random_state=28)

feature scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train= sc.fit_transform(X_train)
X_test =sc.transform(X_test)

training our model using logistic regression

In [8]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

testing our model

In [9]:
Y_pred = classifier.predict(X_test)

#making the confusion matrix

In [10]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm= confusion_matrix(Y_test,Y_pred)
print(cm)
accuracy_score(Y_test,Y_pred)

[[49  7]
 [ 8 16]]

0.8125

prediction for new values

In [13]:
output= classifier.predict([[30, 8500]])
output

array([1])