importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

importing dataset

In [2]:
df=pd.read_csv('/content/titanic.csv',usecols=['Pclass','Age','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [3]:
df['Age'].fillna(df.Age.median(),inplace=True)

#standardization

In [4]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

fit vs fit_transform

In [5]:
df_scaled=scaler.fit_transform(df)
df_scaled

array([[-0.78927234,  0.82737724, -0.56573646, -0.50244517],
       [ 1.2669898 , -1.56610693,  0.66386103,  0.78684529],
       [ 1.2669898 ,  0.82737724, -0.25833709, -0.48885426],
       ...,
       [-0.78927234,  0.82737724, -0.1046374 , -0.17626324],
       [ 1.2669898 , -1.56610693, -0.25833709, -0.04438104],
       [-0.78927234,  0.82737724,  0.20276197, -0.49237783]])

min max scaling or normalization

In [6]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
df_minmax=pd.DataFrame(min_max.fit_transform(df),columns=df.columns)
df_minmax.head()

   Survived  Pclass       Age      Fare
0       0.0     1.0  0.271174  0.014151
1       1.0     0.0  0.472229  0.139136
2       1.0     1.0  0.321438  0.015469
3       1.0     0.0  0.434531  0.103644
4       0.0     1.0  0.434531  0.015713